.section_main{
    background-image: url("/images/BG-HERO-SUNSET-ROOFING.png");
}
.c_about{
    background-image: url("/images/bg-us.png");
}
.c_contact{
    background-image: url("/images/bg-contact.png");
}